.container-page{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-size:  40px;
    color: rgb(197, 197, 197);
}

.not-found-page{
    font-size: 80px;
}